.Christopher{
    margin-top:-210px;
    text-align: center;
    
}

.Christopher h2 {
    color: #09565B;
    text-align: center;
    background-color: rgba(255,255,255,0.4);
}


.Christopher .btn-default:hover
{
  background-color: red;
}

.btn-default:focus {
  background-color: red;
}